.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}



@media (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
